@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: rgb(28, 28, 28) !important;
  color: rgb(189, 190, 190) !important;
  font-family: "Poppins", sans-serif !important;
}
/* main */
main {
  min-height: 100vh !important;
  padding-bottom: 60px !important;
}

/* scrollbar */
::-webkit-scrollbar {
  appearance: none !important;
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(188, 191, 194, 0.445);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(9, 94, 179), rgb(34, 0, 128));
  border-radius: 8px;
}
/* --------- */

/* main-header */
.main-header {
  position: sticky !important;
  top: 0;
  left: 0;
  background: rgb(35, 36, 36) !important;
  z-index: 30;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.navbar-brand {
  color: rgb(6, 138, 245) !important;
}
.header-toggler {
  display: block !important;
  background: transparent !important;
  color: rgb(6, 138, 245) !important;
  border: none !important;
  @media (min-width: 578px) {
    display: none !important;
  }
}
.navbar-nav {
  transition: 0.5s linear all !important;
  @media (max-width: 576px) {
    position: absolute;
    height: 100vh !important;
    width: 100vw;
    padding: 0.5rem !important;
    background: linear-gradient(rgb(47, 48, 48), rgb(0, 0, 0));
    display: flex !important;
    align-items: end !important;
    z-index: 10;
    flex-direction: column !important;
  }
}

.header-link {
  color: rgb(6, 138, 245);
  text-decoration: none;
  transition: 0.3s linear all;
  font-weight: 500;
  position: relative;
}
.header-link:hover.header-link::after {
  position: absolute;
  height: 1.5px;
  width: 100%;
  content: "";
  bottom: 0;
  left: 0;
  background: rgb(244, 244, 244);
}
.header-link:hover {
  color: rgb(255, 255, 255);
}
.header-link.active {
  color: rgb(255, 255, 255);
}
.header-link.active::after {
  position: absolute;
  height: 1.5px;
  width: 100%;
  content: "";
  bottom: 0;
  left: 0;
  background: rgb(251, 253, 255);
}

/* ----------- */

/*-------------bottom-bar--------- */
.bottom-bar {
  background: rgb(35, 36, 36) !important;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 9;
}
.bottom-bar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #068af5;
  font-weight: 600;
  padding: 0.5rem !important;
  position: relative;
  transition: 0.3s linear all;
}
.bottom-bar-link:hover::after {
  width: 100%;
  height: 2px;
  bottom: 0;
  background: rgb(2, 111, 174);
  content: "";
  left: 0;
  position: absolute;
  animation: expand-anim 0.3s linear 1;
}
@keyframes expand-anim {
  from {
    width: 0;
    left: 50%;
  }
}
.bottom-bar-link .title {
  @media (max-width: 576px) {
    display: none;
  }
}
.bottom-bar-logo {
  height: 50px;
  width: 50px;
  font-size: 20px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  color: black;
  justify-content: center;
  background: linear-gradient(rgb(23, 108, 255), rgb(2, 60, 160));
}
/* ------------------------------- */

/* page sections */
.page-section {
  min-height: 90vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(32, 32, 33), rgb(22, 24, 28)) !important;
}
.section-heading {
  color: rgb(6, 138, 245) !important;
  letter-spacing: 5px;
}
.section-paragraph {
  color: rgb(189, 190, 190);
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 500;
}
.page-section .container-fluid {
  position: relative;
  z-index: 3;
}
/* -------------- */

/* global-classes */
.f-1 {
  font-weight: 100 !important;
}
.f-2 {
  font-weight: 200 !important;
}
.f-3 {
  font-weight: 300 !important;
}
.f-4 {
  font-weight: 400 !important;
}
.f-5 {
  font-weight: 500 !important;
}
.f-6 {
  font-weight: 600 !important;
}
.f-7 {
  font-weight: 700 !important;
}
.f-8 {
  font-weight: 800 !important;
}
.f-b {
  font-weight: bold !important;
}
.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.special-link {
  display: flex;
  height: 80px;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: linear-gradient(rgb(221, 227, 231), rgb(194, 194, 194));
  color: rgb(22, 24, 28);
  text-decoration: none;
  @media (max-width: 578px) {
    height: auto;
  }
}
.special-link .detail {
  width: 150px;
  @media (max-width: 576px) {
    display: none;
  }
}
.special-link:hover {
  background: rgb(21, 6, 72);
  color: white;
}
.border-none {
  border: none !important;
}
.border-transparent {
  border-color: transparent !important;
}

.card {
  background: linear-gradient(
    rgb(221, 227, 231),
    rgb(194, 194, 194)
  ) !important;
}

.exp-card {
  position: relative;
  border-radius: 10px !important;
  overflow: hidden;
}

.exp-card .card-header {
  font-size: 25px;
  font-weight: 600 !important;
  z-index: 3;
}
.exp-card .value {
  background: linear-gradient(rgb(73, 71, 78), rgb(11, 13, 14));
  position: absolute;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -40%;
  top: 0;
  transform: rotate(30deg);
  color: rgb(31, 117, 246);
}
.particle {
  position: absolute;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  right: 0;
  top: 50%;
  transition: 1.5s linear all !important;
  background: linear-gradient(dodgerblue, darkblue);
  opacity: 0.5;
  color: white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.standard-btn {
  background: linear-gradient(rgb(3, 120, 203), rgb(4, 4, 110)) !important;
  border: none !important;
  min-width: 200px !important;
  color: rgb(189, 190, 190) !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 10px !important;
  transition: 0.3s linear all !important;
}
.standard-btn:hover {
  color: white !important;
}

.achievement-card {
  background: linear-gradient(
    rgb(253, 254, 255),
    rgb(196, 200, 202)
  ) !important ;
  color: rgb(31, 33, 35) !important;
  border: none !important;
  letter-spacing: 2px !important;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.603) !important;
  width: 300px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100px !important;
  cursor: pointer !important;
  border-radius: 0.5rem !important;
  transition: 0.3s linear all !important;
  position: relative;
  text-decoration: none !important;
}

.achievement-card:hover {
  text-decoration: underline rgb(31, 30, 29) !important;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.603) !important;
}

.form {
  background: linear-gradient(#0166b9, #034982);
  padding: 1rem;
  border-radius: 18px;
}
.loading {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}




.loading {
  width: 100px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#f9f7f7 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  20% {background-size: 20% 60% ,20% 100%,20% 100%}
  40% {background-size: 20% 80% ,20% 60% ,20% 100%}
  60% {background-size: 20% 100%,20% 80% ,20% 60% }
  80% {background-size: 20% 100%,20% 100%,20% 80% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

/* --------------- */

/* global responsive-classes */
.on-sm-content-center {
  @media (max-width: 576px) {
    justify-content: center !important;
  }
}
/* ------------------------- */

/* global-animations */
@keyframes up-and-down {
  50% {
    transform: translateY(-5%) scale(1.02, 1.02);
  }
}
@keyframes slide-from-above {
  from {
    transform: translateY(-50%);
  }
}
/*------------------ */

/* customizing default classes */
.modal-content {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  background: transparent !important;
}
.modal-title {
  width: 100% !important;
}
.modal-header {
  background: linear-gradient(rgb(2, 96, 151), rgb(2, 45, 105)) !important;
  width: 110% !important;
  border-radius: 0.5rem !important;
  border: none !important;
  color: rgb(209, 223, 246) !important;
  position: relative;
  z-index: 3;
}
.modal-body,
.modal-body a,
.modal-body button {
  color: rgb(209, 223, 246) !important;
}

.modal-body {
  background: linear-gradient(rgb(2, 96, 151), rgb(2, 45, 105)) !important;
  width: 100%;
  border: none !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  animation: slide-from-above 0.5s linear 1;
}
/* ----------------------------- */
